<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Nunito+Sans:wght@300;600;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ece88f1e1c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/DetailStyles.css">
    <link rel="stylesheet" href="/css/DesktopStyles.css">
    <link rel="stylesheet" href="/css/themeModes.css">
    <title><% country.name.common %></title>
</head>
<body>
    <main>
        <div id="main__content">
            <div id="main__dashboard">
                <div class="back__container">
                    <a href="/">Go back</a>
                </div>
                <div id="CountryDetail">
                    <div id="Country__flag">
                        <img src="<%= country.flags.png %>"" alt="<%= country.name.common %>">
                    </div>
                    <div id="Country__datas">
                        <h2 class="country-datas-header"><%= country.name.common %></h2>
                        <div class="datas__container">
                            <p><strong>Native name: </strong><%= Object.values(country.name.nativeName)[0].official %></p>
                            <p><strong>Population: </strong><%= country.population.toLocaleString() %></p>
                            <p><strong>Region: </strong><%= country.region %></p>
                            <p><strong>Sub region: </strong><%= country.subregion %></p>
                            <p><strong>Capital: </strong><%= country.capital %></p>
                            <p><strong>Currency: </strong><%= Object.values(country.currencies)
                                                        .map((currency) => currency.name)
                                                        .join(", ") %></p>
                            <p><strong>Languages: </strong><%= Object.values(country.languages).join(", ") %></p>
                        </div>
                        <div id="Country__border">
                            <p>Border Countries: </p>
                            <div id="borders-container">
                                <% if(country.borders && country.borders.length > 0) { %>
                                    <% for (var i=0; i<country.borders.length; i++) {%>
                                        <a class="border-item" href="/countryAlpha/<%= country.borders[i] %>"><%= country.borders[i]%></a>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>